<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">
<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/datos-usuario/datos-usuario.html">
<link rel="import" href="/src/cambcont-usuario/cambcont-usuario.html">
<link rel="import" href="/src/alta-cuentas/alta-cuentas.html">
<link rel="import" href="/src/muestra-usuarios/muestra-usuarios.html">
<link rel="import" href="/src/view404-page/view404-page.html">
<link rel="import" href="/src/home-page/home-page.html">
<link rel="import" href="/src/alta-movimi/alta-movimi.html">
<link rel="import" href="/src/cons-movimi/cons-movimi.html">
<link rel="import" href="/src/cons-cuentas/cons-cuentas.html">
<link rel="import" href="/src/alta-cuentas/alta-cuentas.html">

<dom-module id="principal-page">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route id="router-principal" route="{{route}}" pattern="/:page" data="{{data}}" tail="{{subroute}}">
    </app-route>
    <iron-pages selected="[[data.page]]" attr-for-selected="name" fallback-selection="view404" role="mail">
      <login-usuario name="login"></login-usuario>
      <logout-usuario name="logout"></logout-usuario>
      <datos-usuario name="datosusr"></datos-usuario>
      <cambcont-usuario name="cambcontusr"></cambcont-usuario>
      <alta-usuario name="altausr"></alta-usuario>
      <muestra-usuarios name="muestrausr"></muestra-usuarios>
      <view404-page name="view404"></view404-page>
      <home-page name="home"></home-page>
      <home-page name=""></home-page>
      <alta-movimi name="altamov"> </alta-movimi>
      <cons-movimi name="consmov"> </cons-movimi>
      <cons-cuentas name="consctas"> </cons-cuentas>
      <alta-cuentas name="altactas"> </alta-cuentas>
    </iron-pages>
  </template>

  <script>
    class PrincipalPage extends Polymer.Element {
      static get is() {
        return 'principal-page';
      }
      static get properties() {
        return {};
      }

      // constructor() {
      //   super();
      //   console.log("pruebita...");
      //   document.getElementById("mensajes").innerHTML = "Mensajes...";
      // }

      ready() {
        super.ready();
        this.load();
      }
      load() {
        // console.log("pruebita...");
        document.getElementById("mensajes").innerHTML = "Mensajes...";
      }
    }
    window.customElements.define(PrincipalPage.is, PrincipalPage);
  </script>
</dom-module>
