<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="datos-usuario">
  <template >
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <!-- <iron-ajax auto="" id="obtenerUsuario" url="http://127.0.0.1:3000/api-uruguay/v1/users" method="GET" handle-as="json" on-response="mostrarUno">
    </iron-ajax> -->

    <iron-ajax id="obtenerUsr" url="http://127.0.0.1:3000/ibc/v1/users/{{idUsr}}" method="GET" handle-as="json" on-response="mostrarUsrLst" on-error="mostrarUsrError">
    </iron-ajax>
    <!-- <iron-ajax id="obtenerMovs" url="http://127.0.0.1:3000/ibc/v1/users/[[idUsr]]/cuentas/[[idCta]]/movimientos" method="GET" handle-as="json" on-response="mostrarTodosLst" on-error="mostrarTodosError">
    </iron-ajax> -->


    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td>
              <h1>Datos de usuario</h1>
            </td>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="mostrarUsr">Mostrar</button> </td>
          </tr>
        </div>
      </table>
    </div>






    <!-- <h1>Cuentas</h1> -->
    <!-- <template is="dom-repeat" items="{{usuarios}}">
      <span>{{item.id}}</span>
      <br />
      </br />
    </template> -->
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{usuarios}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.rol}}</td>
            <!-- <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td> -->
          </tr>
        </template>
      </tbody>
    </table>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosUsuario extends Polymer.Element {
      static get is() {
        return 'datos-usuario';
      }
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          idCta: {
            type: Number,
            value: 0
          },
          id: {
            type: Number,
            value: 0
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          rol: {
            type: String
          },
          usuarios: {
            type: Array
          },
          autorizacion: {
            type: String
          }
        }
      }

      mostrarUsr() {
        this.idUsr = window.sessionStorage.getItem(0);
        this.$.obtenerUsr.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.idUsr != 0 && this.$.obtenerUsr.headers.autorizacion != null) {
          console.log(this.idUsr);
          console.log(this.$.obtenerUsr.headers);

          this.$.obtenerUsr.generateRequest();

        } else {
          document.getElementById("mensajes").innerHTML = "Id de usuario incorrecto...";
        }

      }
      mostrarUsrLst(resultado) {
        console.log(resultado.detail.response[0]);
        this.usuarios = resultado.detail.response;
      }

      mostrarUsrError(error) {
        console.log(error.detail.response);
      }
    }

    window.customElements.define(DatosUsuario.is, DatosUsuario);
  </script>
</dom-module>
