<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<dom-module id="alta-cuentas">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerAlta" url="http://127.0.0.1:3000/ibc/v1/users/[[idUsr]]/cuentas" method="POST" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoAlta" on-error="mostrarError">

    </iron-ajax>
    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td> <label for="inpIban">Código Iban: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpIban" type="text" value={{iban::input}} placeholder="digite IBAN" required /> </td>
            <!-- </div> -->
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td> <label for="inpMon">Moneda: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpMon" type="text" value={{moneda::input}} placeholder="USD|EUR" required /> </td>
            <!-- </div> -->
          </tr>
        </div>



        <div class="form-group">
          <tr>
            <!-- <div class="col-sm-offset-2 col-sm-10"> -->
            <td> </td>
            <td> <button class="btn btn-primary" on-click="enviarAlta">Crear</button> </td>
            <!-- </div> -->
          </tr>
        </div>
      </table>
    </div>
    <!-- <span hidden$="{{!altaOK}}">Alta correcta</span> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCuentas extends Polymer.Element {
      static get is() {
        return 'alta-cuentas';
      }
      static get properties() {
        return {
          idUsr: {
            type: Number
          },
          idCta: {
            type: Number
          },
          iban: {
            type: String
          },
          moneda: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          },
          autorizacion: {
            type: String
          }
        };
      }
      mostrarResultadoAlta(resultado) {
        console.log("4. Llegaron los resultados");
        // console.log(resultado);
        console.log("5. Proceso los resultados");
        this.altaOK = true;
        console.log(resultado.detail.response);
        this.idCta = resultado.detail.response.idCta;
        document.getElementById("mensajes").innerHTML = "Alta correcta, cuenta número: " + this.idCta;

      }
      enviarAlta() {
        console.log("1. El usuario ha pulsado el botón");

        this.idUsr = window.sessionStorage.getItem(0);
        this.$.hacerAlta.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.idUsr != 0 && this.$.hacerAlta.headers.autorizacion != null) {
          if (this.iban != null) {
            if (this.moneda == "USD" || this.moneda == "EUR") {
              this.body = '{"iban": "' + this.iban + '", "moneda": "' + this.moneda + '"}';
              console.log(this.$.hacerAlta.headers);
              console.log(this.body);
              console.log(this.idUsr);
              console.log("2. Voy a enviar la petición");
              this.$.hacerAlta.generateRequest();
              console.log("3. Petición enviada");
            } else {
              document.getElementById("mensajes").innerHTML = "Tipo de moneda incorrecto, dede ser: USD o EUR";
            }
          } else {
            document.getElementById("mensajes").innerHTML = "IBAN es de ingreso obligatorio";
          }
        } else {
          document.getElementById("mensajes").innerHTML = "Id de usuario incorrecto...";
        }
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.altaOk = false;
      }
    }

    window.customElements.define(AltaCuentas.is, AltaCuentas);
  </script>
</dom-module>
