<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="muestra-usuarios">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <!-- <iron-ajax auto="" id="obtenerUsuario" url="http://127.0.0.1:3000/api-uruguay/v1/users" method="GET" handle-as="json" on-response="mostrarUno">
    </iron-ajax> -->

    <iron-ajax auto="" id="obteneAllUsuarios" url="http://127.0.0.1:3000/ibc/v1/users" method="GET" handle-as="json" on-response="mostrarTodos" on-error="mostrarTodosError">
    </iron-ajax>

    <h1>Usuarios</h1>
    <!-- <template is="dom-repeat" items="{{usuarios}}">
      <span>{{item.id}}</span>
      <br />
      </br />
    </template> -->
    <table class="table table-striped">
      <thead>
        <th>Índice</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{usuarios}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <!-- <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td> -->
          </tr>
        </template>
      </tbody>
    </table>



    <!-- <iron-list items="{{posts}}" as="get">
      <template>
        <h1>Listado de Usuarios</h1>
        <div class="item">
          <b>#{{index}} ID-> #{{post.id}} - {{post.first_name}}</b>
          <p>{{post.email}}</p>
        </div>
      </template>
    </iron-list> -->

    <!-- <h1>Listado de Usuarios</h1>
    <div class="row">
      <tr>
        <td>
          <h3 class="col-3">{{id}}</h3>
        </td>
        <h4 class="col-3">{{nombre}}</h4>
        <h4 class="col-3">{{apellido}}</h4>
        <h4 class="col-3">{{email}}</h4>
      </tr>
    </div> -->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MuestraUsuarios extends Polymer.Element {
      static get is() {
        return 'muestra-usuarios';
      }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: "Esperando respuesta..."
          },
          apellido: {
            type: String
          },
          id: {
            type: Number
          },
          email: {
            type: String
          },
          usuarios: {
            type: Array
          }
        };
      }
      mostrarUno(datos) {
        // console.log(datos.detail);
        console.log(datos.detail.response);
        this.nombre = datos.detail.response[0].first_name;
        this.apellido = datos.detail.response[0].last_name;
        this.id = datos.detail.response[0].id;
        this.email = datos.detail.response[0].email;

      }
      mostrarTodos(resultado) {
        console.log(resultado.detail.response)
        this.usuarios = resultado.detail.response
      }
      mostrarTodosError(error) {
        console.log(error.detail.response)
      }
    }

    window.customElements.define(MuestraUsuarios.is, MuestraUsuarios);
  </script>
</dom-module>
