<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="view404-page">
  <!-- Defines the element's style and local DOM -->
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <h1>HTTP 404</h1>
    <h2>Página no encontrada</h2>
  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class View404Page extends Polymer.Element {
      static get is() {
        return 'view404-page';
      }
    }
    //Register your new custom element so the browser can use it
    customElements.define(View404Page.is, View404Page);
  </script>
</dom-module>
