<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cons-cuentas">
  <template onload="mostrarTodos()">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <!-- <iron-ajax auto="" id="obtenerUsuario" url="http://127.0.0.1:3000/api-uruguay/v1/users" method="GET" handle-as="json" on-response="mostrarUno">
    </iron-ajax> -->

    <iron-ajax id="obtenerCtas" url="http://127.0.0.1:3000/ibc/v1/users/{{idUsr}}/cuentas" method="GET" handle-as="json" on-response="mostrarTodosLst" on-error="mostrarTodosError">
    </iron-ajax>
    <!-- <iron-ajax id="obtenerMovs" url="http://127.0.0.1:3000/ibc/v1/users/[[idUsr]]/cuentas/[[idCta]]/movimientos" method="GET" handle-as="json" on-response="mostrarTodosLst" on-error="mostrarTodosError">
    </iron-ajax> -->


    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td>
              <h1>Cuentas</h1>
            </td>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="mostrarTodos">Listar</button> </td>
          </tr>
        </div>
      </table>
    </div>






    <!-- <h1>Cuentas</h1> -->
    <!-- <template is="dom-repeat" items="{{usuarios}}">
      <span>{{item.id}}</span>
      <br />
      </br />
    </template> -->
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Id</th>
        <th>Iban</th>
        <th>Moneda</th>
        <th>Saldo</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.iban}}</td>
            <td>{{item.moneda}}</td>
            <td>{{item.saldo}}</td>
            <!-- <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td> -->
          </tr>
        </template>
      </tbody>
    </table>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsCuentas extends Polymer.Element {
      static get is() {
        return 'cons-cuentas';
      }
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          idCta: {
            type: Number,
            value: 0
          },
          id: {
            type: Number,
            value: 0
          },
          iban: {
            type: String
          },
          moneda: {
            type: String
          },
          saldo: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          autorizacion: {
            type: String
          }
        }
      }

      mostrarTodos() {
        this.idUsr = window.sessionStorage.getItem(0);
        this.$.obtenerCtas.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.idUsr != 0 && this.$.obtenerCtas.headers.autorizacion != null) {
          console.log(this.idUsr);
          console.log(this.idCta);
          console.log(this.$.obtenerCtas.headers);

          this.$.obtenerCtas.generateRequest();

        } else {
          document.getElementById("mensajes").innerHTML = "Id de usuario incorrecto...";
        }

      }
      mostrarTodosLst(resultado) {
        console.log(resultado.detail.response[0].cuentas);
        this.cuentas = resultado.detail.response[0].cuentas;
      }

      mostrarTodosError(error) {
        console.log(error.detail.response);
      }
    }

    window.customElements.define(ConsCuentas.is, ConsCuentas);
  </script>
</dom-module>
