<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerLogin" url="http://localhost:3000/ibc/v1/login" method="POST" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoLogin" on-error="mostrarError">
    </iron-ajax>
    <iron-ajax id="recupContra" url="http://localhost:3000/ibc/v1/restacontra" method="PUT" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoRecup" on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <table>
        <tr>
          <td> Ingrese su email: </td>
          <td> <input type="email" value={{email::input}} /> </td>
        </tr>

        <tr>
          <td> Ingrese su contraseña: </td>
          <td> <input type="password" value={{password::input}} /> </td>
        </tr>

        <tr>
          <td></td>
          <td> <button class="btn btn-success" on-click="logar">Login</button>
          <button class="btn btn-primary btn-sm" on-click="recuperarContra">Recuperar contraseña</button> </td>
        </tr>


      </table>

    </div>
    <!-- <span hidden$="{{!logado}}">Bienvenido: [[nombre]]</span> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() {
        return 'login-usuario';
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          nombre: {
            type: String
          },
          body: {
            type: String
          },
          token: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          idUsr: {
            type: Number
          }
        };
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados");
        // console.log(resultado);
        // console.log(resultado.detail.response.token);
        this.nombre = resultado.detail.response.nombre;
        this.token = resultado.detail.response.token;
        this.idUsr = resultado.detail.response.id;
        console.log(this.nombre);
        console.log(this.token);
        console.log(this.idUsr);
        console.log("5. Proceso los resultados");
        this.logado = true;
        document.getElementById("holaUsuario").innerHTML = "(Hola, " + this.nombre + ")";
        document.getElementById("mensajes").innerHTML = "Login correcto...";
        // window.localStorage.setItem(0, JSON.stringify(this.idUsr));
        // window.localStorage.setItem(1, JSON.stringify(this.nombre));
        // window.localStorage.setItem(2, JSON.stringify(this.token));
        window.sessionStorage.setItem(0, JSON.stringify(this.idUsr));
        window.sessionStorage.setItem(1, JSON.stringify(this.nombre));
        window.sessionStorage.setItem(2, JSON.stringify(this.token));

        // console.log(window.localStorage.getItem(0));
        // console.log(window.localStorage.getItem(1));
        // console.log(window.localStorage.getItem(2));
      }
      mostrarResultadoRecup(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response.msg);
        console.log("5. Proceso los resultados");
        document.getElementById("mensajes").innerHTML = "Nueva contraseña enviada a su mail...";
      }
      logar() {
        console.log("1. El usuario ha pulsado el botón");
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        this.body = '{"email": "' + this.email + '", "password": "' + this.password + '"}';
        console.log(this.body);
        console.log("2. Voy a enviar la petición");
        this.$.hacerLogin.generateRequest();
        console.log("3. Petición enviada");
      }
      recuperarContra() {
        console.log("1. El usuario ha pulsado el botón");
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        this.body = '{"email": "' + this.email + '"}';
        console.log(this.body);
        console.log("2. Voy a enviar la petición");
        this.$.recupContra.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.logado = false;
        document.getElementById("mensajes").innerHTML = "Error en login...";
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
