<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<dom-module id="alta-movimi">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerAlta" url="http://127.0.0.1:3000/ibc/v1/users/[[idUsr]]/cuentas/[[idCta]]/movimientos" method="POST" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoAlta" on-error="mostrarError">
    </iron-ajax>
    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td> <label for="inpCta">Número de cuenta: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpCta" type="number" value={{idCta::input}} placeholder="digite nro. cuenta" required /> </td>
            <!-- </div> -->
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td> <label for="inpImp">Importe: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpImp" type="number" value={{importe::input}} placeholder="digite importe" required /> </td>
            <!-- </div> -->
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpTipo">Tipo Mov.: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpTipo" type="number" value={{tipo::input}} min="0" max="1" required /> </td>
            <!-- </div> -->
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpDesc">Descripción: </label> </td>
            <!-- <div class="col-sm-10"> -->
            <td> <input id="inpDesc" type="text" value={{descripcion::input}} /> </td>
            <!-- </div> -->
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <!-- <div class="col-sm-offset-2 col-sm-10"> -->
            <td> </td>
            <td> <button class="btn btn-primary" on-click="enviarAlta">Registrar</button> </td>
            <!-- </div> -->
          </tr>
        </div>
      </table>
    </div>
    <!-- <span hidden$="{{!altaOK}}">Alta correcta</span> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimi extends Polymer.Element {
      static get is() {
        return 'alta-movimi';
      }
      static get properties() {
        return {
          idUsr: {
            type: Number
          },
          idCta: {
            type: Number
          },
          importe: {
            type: Number
          },
          tipo: {
            type: Number
          },
          descripcion: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          },
          autorizacion: {
            type: String
          }
        };
      }
      mostrarResultadoAlta(resultado) {
        console.log("4. Llegaron los resultados");
        // console.log(resultado);
        console.log("5. Proceso los resultados");
        this.altaOK = true;
        document.getElementById("mensajes").innerHTML = "Alta correcta...";
      }
      enviarAlta() {
        console.log("1. El usuario ha pulsado el botón");

        this.idUsr = window.sessionStorage.getItem(0);
        this.$.hacerAlta.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.idUsr != 0 && this.$.hacerAlta.headers.autorizacion != null) {
          if (this.idCta != 0 && this.idCta != null) {
            if (this.tipo == 0 || this.tipo == 1) {
              this.body = '{"importe": ' + this.importe + ', "tipo": ' + this.tipo + ', "descripcion": "' + this.descripcion + '"}';
              console.log(this.$.hacerAlta.headers);
              console.log(this.body);
              console.log("2. Voy a enviar la petición");
              this.$.hacerAlta.generateRequest();
              console.log("3. Petición enviada");
            } else {
            document.getElementById("mensajes").innerHTML = "Tipo de movimiento es de ingreso obligatorio";
            }
          } else {
            document.getElementById("mensajes").innerHTML = "Número de cuenta es de ingreso obligatorio";
          }
        }else{
          document.getElementById("mensajes").innerHTML = "Id de usuario incorrecto...";
        }
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        this.altaOk = false;
      }
    }

    window.customElements.define(AltaMovimi.is, AltaMovimi);
  </script>
</dom-module>
