<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="hacerLogout" url="http://localhost:3000/ibc/v1/logout" method="POST" handle-as="json" body=[[body]] on-response="mostrarResultadoLogout" on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <table>
        <tr>
          <td></td>
          <td> <button class="btn btn-danger" on-click="desloguear">Logout</button> </td>
          <td></td>
          <td>
            <span hidden$="{{!logado}}">Hasta luego...</span>
            <span hidden$="{{nolog}}">Usuario NO logueado</span>
            <span hidden$="{{noexis}}">Usuario incorrecto</span>
          </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
        </tr>

        <tr>
        </tr>

      </table>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() {
        return 'logout-usuario';
        // document.getElementById("mensajes").innerHTML = "Mensajes...";
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          body: {
            type: String
          },
          nolog: {
            type: Boolean,
            value: true
          },
          noexis: {
            type: Boolean,
            value: true
          },
          token: {
            type: String,
            value: 'aaa'
          },
          logado: {
            type: Boolean,
            value: false
          },
          autorizacion: {
            type: String,
            value: "1234"
          }
        };
      }


      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados");
        // console.log(resultado);
        console.log("5. Proceso los resultados");
        this.logado = true;
        document.getElementById("holaUsuario").innerHTML = "(Hola, )";
        document.getElementById("mensajes").innerHTML = "Logout correcto...";
        window.sessionStorage.removeItem(0);
        window.sessionStorage.removeItem(1);
        window.sessionStorage.removeItem(2);
      }
      desloguear() {
        console.log("1. El usuario ha pulsado el botón");
        this.nolog = true;
        this.noexis = true;
        // this.email = "mio@vera.com.uy";
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        // this.body = '{"email": "' + this.email + '", "password": "' + this.password + '"}';
        // console.log("token: " + this.token);
        var localStoStr = window.sessionStorage.getItem(2);
        var localSto = JSON.parse(localStoStr);
        this.token = localSto;
        // this.$.hacerLogin.headers.token = this.token;
        this.$.hacerLogout.headers.autorizacion = this.token;
        // this.body = '{"email": "' + this.email + '"}';
        // this.cabecera = '{"Content-Type": "application/json", "autorizacion": "' + this.token + '"}';
        // this.cabecera.Content-Type = "application/json";
        // this.cabecera.autorizacion = '"' + this.token + '"';
        // console.log(this.cabecera);
        // this.$.hacerLogin.headers.autorizacion = this.token;
        // console.log("token después: " + this.token);
        // console.log("localSto: " + localSto);

        // console.log(this.body);
        console.log(this.$.hacerLogout.headers);

        if (this.token != null) {
          console.log("2. Voy a enviar la petición");
          this.$.hacerLogout.generateRequest();
          console.log("3. Petición enviada");
        }else{
          this.nolog = false;
          document.getElementById("mensajes").innerHTML = "Uusario No logueado...";
        }
      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        console.log(error.detail.request.status);
        this.logado = false;
        if (error.detail.request.status == 401) this.nolog = false;
        if (error.detail.request.status == 404) this.noexis = false;
        document.getElementById("mensajes").innerHTML = "Error al hacer el logout...";
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
