<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cons-movimi">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <!-- <iron-ajax auto="" id="obtenerUsuario" url="http://127.0.0.1:3000/api-uruguay/v1/users" method="GET" handle-as="json" on-response="mostrarUno">
    </iron-ajax> -->

    <iron-ajax id="obtenerCtas" url="http://127.0.0.1:3000/ibc/v1/users/{{idUsr}}/cuentas" method="GET" handle-as="json" on-response="mostrarTodos" on-error="mostrarTodosError">
    </iron-ajax>
    <iron-ajax id="obtenerMovs" url="http://127.0.0.1:3000/ibc/v1/users/[[idUsr]]/cuentas/[[idCta]]/movimientos" method="GET" handle-as="json" on-response="mostrarTodosLst" on-error="mostrarTodosError">
    </iron-ajax>


    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td> <label for="idCta">Número de cuenta: </label> </td>
            <td> <input id="idCta" type="number" value={{idCta::input}} required /> </td>
            <td> <button class="btn btn-primary" on-click="mostrarTodos">Listar</button> </td>
          </tr>
        </div>
      </table>
    </div>






    <h1>Movimientos</h1>
    <!-- <template is="dom-repeat" items="{{usuarios}}">
      <span>{{item.id}}</span>
      <br />
      </br />
    </template> -->
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Tipo</th>
        <th>Descripcion</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimis}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.descripcion}}</td>
            <!-- <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td> -->
          </tr>
        </template>
      </tbody>
    </table>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsMovimi extends Polymer.Element {
      static get is() {
        return 'cons-movimi';
      }
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          idCta: {
            type: Number,
            value: 0
          },
          id: {
            type: Number,
            value: 0
          },
          fecha: {
            type: String
          },
          importe: {
            type: Number
          },
          tipo: {
            type: Number
          },
          descripcion: {
            type: String
          },
          movimis: {
            type: Array
          },
          autorizacion: {
            type: String
          }
        };
      }
      // mostrarUno(datos) {
      //   // console.log(datos.detail);
      //   console.log(datos.detail.response);
      //   this.nombre = datos.detail.response[0].first_name;
      //   this.apellido = datos.detail.response[0].last_name;
      //   this.id = datos.detail.response[0].id;
      //   this.email = datos.detail.response[0].email;
      //
      // }
      mostrarTodos(resultado) {
        this.idUsr = window.sessionStorage.getItem(0);
        this.$.obtenerMovs.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.idUsr != 0 && this.$.obtenerMovs.headers.autorizacion != null){
          console.log(this.idUsr);
          console.log(this.idCta);
          console.log(this.$.obtenerMovs.headers);

          this.$.obtenerMovs.generateRequest();

        }else{
          document.getElementById("mensajes").innerHTML = "Id de usuario incorrecto...";
        }

      }
      mostrarTodosLst(resultado) {
        console.log(resultado.detail.response);
        this.movimis = resultado.detail.response;
      }

      mostrarTodosError(error) {
        console.log(error.detail.response);
      }
    }

    window.customElements.define(ConsMovimi.is, ConsMovimi);
  </script>
</dom-module>
