<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="home-page">
  <!-- Defines the element's style and local DOM -->
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
        background-color: grey;
      }
    </style>
    <center>
      <h1>Bienvenido...</h1>
    </center>
  </template>

  <script>
    // Your new element extends the Polymer.Element base class
    class HomePage extends Polymer.Element {
      static get is() {
        return 'home-page';
      }
      ready() {
        super.ready();
        this.load();
      }
      load() {
        // console.log("pruebita...");
        document.getElementById("mensajes").innerHTML = "Mensajes...";
      }
    }
    //Register your new custom element so the browser can use it
    customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
