<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cambcont-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax id="enviarCambio" url="http://localhost:3000/ibc/v1/cambiacontra" method="PUT" handle-as="json" body=[[body]] headers='{"Content-Type": "application/json"}' on-response="mostrarResultadoCambio" on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <table>

        <tr>
          <td> Contraseña actual: </td>
          <td> <input type="password" value={{passwordOld::input}} /> </td>
        </tr>

        <tr>
          <td> Contraseña nueva: </td>
          <td> <input type="password" value={{passwordNew::input}} /> </td>
        </tr>

        <tr>
          <td></td>
          <td> <button class="btn btn-primary" on-click="cambiarContra">Enviar</button></td>
        </tr>


      </table>

    </div>
    <!-- <span hidden$="{{!logado}}">Bienvenido: [[nombre]]</span> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CambcontUsuario extends Polymer.Element {
      static get is() {
        return 'cambcont-usuario';
      }
      static get properties() {
        return {
          passwordNew: {
            type: String
          },
          passwordOld: {
            type: String
          },
          autorizacion: {
            type: String
          },
          body: {
            type: String
          },
          idUsr: {
            type: Number
          }
        };
      }

      mostrarResultadoCambio(resultado) {
        console.log("4. Llegaron los resultados");
        console.log(resultado.detail.response.msg);
        console.log("5. Proceso los resultados");
        document.getElementById("mensajes").innerHTML = "Contraseña cambiada...";
      }

      cambiarContra() {
        console.log("1. El usuario ha pulsado el botón");
        // this.$.hacerLogin.headers.email = this.email;
        // this.$.hacerLogin.headers.password = this.password;
        // this.$.hacerLogin.headers.Content-Type = "application/json";
        this.body = '{"passwordOld": "' + this.passwordOld + '", "passwordNew": "' + this.passwordNew + '"}';
        // console.log(this.body);
        this.$.enviarCambio.headers.autorizacion = JSON.parse(window.sessionStorage.getItem(2));

        if (this.$.enviarCambio.headers.autorizacion != null) {
          console.log(this.$.enviarCambio.headers);
          console.log("2. Voy a enviar la petición");
          this.$.enviarCambio.generateRequest();
          console.log("3. Petición enviada");
        } else {
          document.getElementById("mensajes").innerHTML = "Usuario no logueado...";
        }

      }
      mostrarError(error) {
        console.log("4. Llega el error");
        console.log(error);
        document.getElementById("mensajes").innerHTML = "Error en el proceso...";
      }
    }

    window.customElements.define(CambcontUsuario.is, CambcontUsuario);
  </script>
</dom-module>
